@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;900&display=swap');

h1{

    text-align: center;
    margin: 0;
    padding: 48px;
    font-family: 'Poppins',sans-serif;

}

.TodoCounter {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-weight: normal;
  }
  
  .TodoCounter span {
    font-weight: bold;
  }